In [1]:
a = [1,2,-5,0,3,6,-2,4]
b = ["one", "two", "three"]
c = [True, True, True, False, True]
print(a)
print(b)
print(c)

[1, 2, -5, 0, 3, 6, -2, 4]
['one', 'two', 'three']
[True, True, True, False, True]

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\adkur\anaconda3\lib\site-packages (1.24.3)Note: you may need to restart the kernel to use updated packages.

In [3]:
import numpy as np
cells = [3,15,-27,38]
r_nama = ["R1", "R2"]
c_nama = ["C1", "C2"]
nama_matrix = np.matrix(cells).reshape(2,2)
print(nama_matrix)

[[  3  15]
 [-27  38]]

In [4]:
import pandas as pd
import numpy as np
nama1 = [1,2,3,4]
nama2 = ["red", "white", "red",np.nan]
nama3 = [True, True, True, False]
dataku = pd.DataFrame({'ID':nama1, 'Color':nama2, 'Passed':nama3})
print(dataku)

   ID  Color  Passed
0   1    red    True
1   2  white    True
2   3    red    True
3   4    NaN   False

In [5]:
import pandas as pd
data_nama = pd.DataFrame({'ID':list('abcdefghij'), 'x':list(range(1,11)), 'y':list(range(11,21))}) 
print(data_nama)

  ID   x   y
0  a   1  11
1  b   2  12
2  c   3  13
3  d   4  14
4  e   5  15
5  f   6  16
6  g   7  17
7  h   8  18
8  i   9  19
9  j  10  20

In [6]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\adkur\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="houseprices1"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    # Mengeksekusi kueri SQL
    my_query = "SELECT * FROM vira_houseprices;"
    cursor.execute(my_query)
    
    # Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    # Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    # Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
('Price', 'SqFt', 'Bedrooms', 'Bathrooms', 'Offers', 'Brick', 'Neighborhood')
('114300', '1790', '2', '2', '2', 'No', 'East')
('114200', '2030', '4', '2', '3', 'No', 'East')
('114800', '1740', '3', '2', '1', 'No', 'East')
('94700', '1980', '3', '2', '3', 'No', 'East')
('119800', '2130', '3', '3', '3', 'No', 'East')
('114600', '1780', '3', '2', '2', 'No', 'North')
('151600', '1830', '3', '3', '3', 'Yes', 'West')
('150700', '2160', '4', '2', '2', 'No', 'West')
('119200', '2110', '4', '2', '3', 'No', 'East')
('104000', '1730', '3', '3', '3', 'No', 'East')
('132500', '2030', '3', '2', '3', 'Yes', 'East')
('123000', '1870', '2', '2', '2', 'Yes', 'East')
('102600', '1910', '3', '2', '4', 'No', 'North')
('126300', '2150', '3', '3', '5', 'Yes', 'North')
('176800', '2590', '4', '3', '4', 'No', 'West')
('145800', '1780', '4', '2', '1', 'No', 'West')
('147100', '2190', '3', '3', '4', 'Yes', 'East')
('83600', '1990', '3', '3', '4', 'No', 'North')
('111400', '1700', '2', '2', '1', 'Yes', 'East')
('167200', '1920', '3', '3', '2', 'Yes', 'West')
('116200', '1790', '3', '2', '3', 'No', 'East')
('113800', '2000', '3', '2', '4', 'No', 'North')
('91700', '1690', '3', '2', '3', 'No', 'North')
('106100', '1820', '3', '2', '3', 'Yes', 'North')
('156400', '2210', '4', '3', '2', 'Yes', 'East')
('149300', '2290', '4', '3', '3', 'No', 'North')
('137000', '2000', '4', '2', '3', 'No', 'West')
('99300', '1700', '3', '2', '2', 'No', 'East')
('69100', '1600', '2', '2', '3', 'No', 'North')
('188000', '2040', '4', '3', '1', 'Yes', 'West')
('182000', '2250', '4', '3', '3', 'Yes', 'West')
('112300', '1930', '2', '2', '2', 'Yes', 'North')
('135000', '2250', '3', '3', '3', 'Yes', 'East')
('139600', '2280', '5', '3', '4', 'Yes', 'East')
('117800', '2000', '2', '2', '3', 'No', 'North')
('117100', '2080', '3', '3', '3', 'No', 'North')
('117500', '1880', '2', '2', '2', 'No', 'North')
('147000', '2420', '4', '3', '4', 'No', 'West')
('131300', '1720', '3', '2', '1', 'No', 'West')
('108200', '1740', '3', '2', '2', 'No', 'North')
('106600', '1560', '2', '2', '1', 'No', 'East')
('133600', '1840', '4', '3', '2', 'No', 'West')
('105600', '1990', '2', '2', '3', 'No', 'East')
('154000', '1920', '3', '2', '1', 'Yes', 'East')
('166500', '1940', '3', '3', '2', 'Yes', 'West')
('103200', '1810', '3', '2', '3', 'No', 'East')
('129800', '1990', '2', '3', '2', 'No', 'North')
('90300', '2050', '3', '2', '6', 'No', 'North')
('115900', '1980', '2', '2', '2', 'No', 'East')
('107500', '1700', '3', '2', '3', 'Yes', 'North')
('151100', '2100', '3', '2', '3', 'Yes', 'East')
('91100', '1860', '2', '2', '3', 'No', 'North')
('117400', '2150', '2', '3', '4', 'No', 'North')
('130800', '2100', '3', '2', '3', 'No', 'North')
('81300', '1650', '3', '2', '3', 'No', 'North')
('125700', '1720', '2', '2', '2', 'Yes', 'East')
('140900', '2190', '3', '2', '3', 'Yes', 'East')
('152300', '2240', '4', '3', '3', 'No', 'West')
('138100', '1840', '3', '3', '1', 'No', 'West')
('155400', '2090', '4', '2', '1', 'No', 'West')
('180900', '2200', '3', '3', '1', 'No', 'West')
('100900', '1610', '2', '2', '2', 'No', 'North')
('161300', '2220', '4', '3', '2', 'No', 'West')
('120500', '1910', '2', '3', '2', 'No', 'East')
('130300', '1860', '3', '2', '2', 'No', 'West')
('111100', '1450', '2', '2', '1', 'Yes', 'North')
('126200', '2210', '3', '3', '4', 'No', 'North')
('151900', '2040', '4', '3', '3', 'No', 'East')
('93600', '2140', '3', '2', '4', 'No', 'North')
('165600', '2080', '4', '3', '3', 'No', 'West')
('166700', '1950', '3', '3', '3', 'Yes', 'West')
('157600', '2160', '4', '2', '1', 'No', 'West')
('107300', '1650', '3', '2', '3', 'No', 'North')
('125700', '2040', '3', '3', '2', 'No', 'East')
('144200', '2140', '3', '3', '3', 'No', 'West')
('106900', '1900', '2', '2', '2', 'No', 'North')
('129800', '1930', '3', '2', '2', 'No', 'West')
('176500', '2280', '4', '3', '3', 'Yes', 'West')
('121300', '2130', '3', '2', '3', 'No', 'North')
('143600', '1780', '4', '2', '1', 'No', 'West')
('143400', '2190', '3', '3', '4', 'Yes', 'East')
('184300', '2140', '4', '3', '2', 'Yes', 'West')
('164800', '2050', '2', '2', '1', 'Yes', 'West')
('147700', '2410', '3', '3', '2', 'No', 'East')
('90500', '1520', '2', '2', '3', 'No', 'North')
('188300', '2250', '4', '3', '2', 'Yes', 'West')
('102700', '1900', '4', '2', '4', 'No', 'North')
('172500', '1880', '3', '3', '1', 'Yes', 'West')
('127700', '1930', '3', '3', '2', 'No', 'North')
('97800', '2010', '2', '2', '4', 'No', 'North')
('143100', '1920', '4', '2', '2', 'No', 'West')
('116500', '2150', '3', '2', '2', 'No', 'East')
('142600', '2110', '3', '2', '2', 'No', 'West')
('157100', '2080', '3', '3', '2', 'No', 'East')
('160600', '2150', '4', '3', '3', 'Yes', 'West')
('152500', '1970', '2', '2', '1', 'Yes', 'West')
('133300', '2440', '3', '3', '3', 'No', 'East')
('126800', '2000', '2', '2', '1', 'Yes', 'East')
('145500', '2060', '3', '2', '1', 'No', 'West')
('171000', '2080', '3', '3', '2', 'Yes', 'West')
('103200', '2010', '3', '2', '5', 'No', 'North')
('123100', '2260', '3', '3', '5', 'No', 'East')
('136800', '2410', '3', '3', '4', 'No', 'East')
('211200', '2440', '4', '3', '3', 'Yes', 'West')
('82300', '1910', '3', '2', '4', 'No', 'East')
('146900', '2530', '4', '3', '4', 'No', 'West')
('108500', '2130', '3', '2', '4', 'No', 'North')
('134000', '1890', '3', '2', '1', 'Yes', 'East')
('117000', '1990', '3', '3', '3', 'Yes', 'East')
('108700', '2110', '3', '2', '3', 'No', 'East')
('111600', '1710', '2', '2', '1', 'No', 'North')
('114900', '1740', '2', '2', '2', 'No', 'North')
('123600', '1940', '2', '2', '2', 'Yes', 'East')
('115700', '2000', '3', '2', '3', 'Yes', 'North')
('124500', '2010', '4', '3', '2', 'No', 'East')
('102500', '1900', '3', '3', '3', 'No', 'North')
('199500', '2290', '5', '4', '1', 'Yes', 'West')
('117800', '1920', '3', '2', '2', 'No', 'North')
('150200', '1950', '3', '2', '3', 'Yes', 'North')
('109700', '1920', '2', '2', '4', 'No', 'North')
('110400', '1930', '2', '3', '3', 'No', 'North')
('105600', '1930', '3', '3', '3', 'No', 'East')
('144800', '2060', '2', '2', '1', 'Yes', 'East')
('119700', '1900', '3', '3', '3', 'Yes', 'East')
('147900', '2160', '4', '3', '3', 'Yes', 'East')
('113500', '2070', '2', '2', '2', 'No', 'North')
('149900', '2020', '3', '3', '1', 'No', 'West')
('124600', '2250', '3', '3', '4', 'No', 'North')

In [10]:
import pandas as pd
# Mengonversi hasil kueri ke DataFrame Pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

# Filter data berdasarkan kolom 'Brick' yang bernilai 'No'
df_filtered = df[(df['COL 6'] == 'No')]

# Menampilkan hasil filter
print("\nHasil Filter:")
print(df_filtered)

Hasil Filter:
      COL 1 COL 2 COL 3 COL 4 COL 5 COL 6  COL 7
1    114300  1790     2     2     2    No   East
2    114200  2030     4     2     3    No   East
3    114800  1740     3     2     1    No   East
4     94700  1980     3     2     3    No   East
5    119800  2130     3     3     3    No   East
..      ...   ...   ...   ...   ...   ...    ...
121  110400  1930     2     3     3    No  North
122  105600  1930     3     3     3    No   East
126  113500  2070     2     2     2    No  North
127  149900  2020     3     3     1    No   West
128  124600  2250     3     3     4    No  North

[86 rows x 7 columns]

In [18]:
import pandas as pd
# Mengonversi hasil kueri ke DataFrame Pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

# Filter data berdasarkan kolom 'Brick' yang bernilai 'No'
df_filtered = df[(df['COL 6'] == 'No') | (df['COL 7'] == 'East')]

# Menampilkan hasil filter
print("\nHasil Filter:")
print(df_filtered)

Hasil Filter:
      COL 1 COL 2 COL 3 COL 4 COL 5 COL 6  COL 7
1    114300  1790     2     2     2    No   East
2    114200  2030     4     2     3    No   East
3    114800  1740     3     2     1    No   East
4     94700  1980     3     2     3    No   East
5    119800  2130     3     3     3    No   East
..      ...   ...   ...   ...   ...   ...    ...
124  119700  1900     3     3     3   Yes   East
125  147900  2160     4     3     3   Yes   East
126  113500  2070     2     2     2    No  North
127  149900  2020     3     3     1    No   West
128  124600  2250     3     3     4    No  North

[105 rows x 7 columns]

In [19]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ps2[viraaditya]"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    # Mengeksekusi kueri SQL
    my_query = "SELECT * FROM prakstatistika1;"
    cursor.execute(my_query)
    
    # Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    # Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    # Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
('Dony', 'L', 2023, 100)
('Bambang', 'L', 2023, 101)
('Rehan', 'L', 2023, 102)
('Rayyan', 'L', 2023, 103)
('Dewanto', 'L', 2023, 104)
('Felix', 'L', 2023, 105)
('Adit', 'L', 2023, 106)
('Kurniawan', 'L', 2023, 107)
('Bayu', 'L', 2023, 108)
('Udin', 'L', 2023, 109)
('Ahmad', 'L', 2023, 110)
('Badrun', 'L', 2023, 111)
('Puki', 'L', 2023, 112)
('Nen', 'L', 2023, 113)
('Supri', 'L', 2023, 114)
('Adrian', 'L', 2023, 115)
('Sapri', 'L', 2023, 116)
('Lulu', 'L', 2023, 117)
('Cucok', 'L', 2023, 118)
('Lola', 'L', 2023, 119)
('Bujang', 'L', 2023, 120)
('Bajai', 'L', 2023, 121)
('Dul', 'L', 2023, 122)
('Budi', 'L', 2023, 123)
('Badrul', 'L', 2023, 124)
('Pupey', 'L', 2023, 125)
('Salim', 'L', 2023, 126)
('Salam', 'L', 2023, 127)
('Sudirman', 'L', 2023, 128)
('Salur', 'L', 2023, 129)

In [21]:
import pandas as pd
# Mengonversi hasil kueri ke DataFrame Pandas
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

# Filter data berdasarkan kolom 'Brick' yang bernilai 'No'
df_filtered = df[(df['Gender'] == 'L')]

# Menampilkan hasil filter
print("\nHasil Filter:")
print(df_filtered)

Hasil Filter:
         Nama Gender  Angkatan  Tinggi
0        Dony      L      2023     100
1     Bambang      L      2023     101
2       Rehan      L      2023     102
3      Rayyan      L      2023     103
4     Dewanto      L      2023     104
5       Felix      L      2023     105
6        Adit      L      2023     106
7   Kurniawan      L      2023     107
8        Bayu      L      2023     108
9        Udin      L      2023     109
10      Ahmad      L      2023     110
11     Badrun      L      2023     111
12       Puki      L      2023     112
13        Nen      L      2023     113
14      Supri      L      2023     114
15     Adrian      L      2023     115
16      Sapri      L      2023     116
17       Lulu      L      2023     117
18      Cucok      L      2023     118
19       Lola      L      2023     119
20     Bujang      L      2023     120
21      Bajai      L      2023     121
22        Dul      L      2023     122
23       Budi      L      2023     123
24     Badrul      L      2023     124
25      Pupey      L      2023     125
26      Salim      L      2023     126
27      Salam      L      2023     127
28   Sudirman      L      2023     128
29      Salur      L      2023     129