In [1]:
import pandas as pd

data_vira = pd.read_clipboard()

# Menampilkan data
print(data_vira)

         Nama Gender  Angkatan  Tinggi
0        Dony      L      2023     100
1     Bambang      L      2023     101
2       Rehan      L      2023     102
3      Rayyan      L      2023     103
4     Dewanto      L      2023     104
5       Felix      L      2023     105
6        Adit      L      2023     106
7   Kurniawan      L      2023     107
8        Bayu      L      2023     108
9        Udin      L      2023     109
10      Ahmad      L      2023     110
11     Badrun      L      2023     111
12       Puki      L      2023     112
13        Nen      L      2023     113
14      Supri      L      2023     114
15     Adrian      L      2023     115
16      Sapri      L      2023     116
17       Lulu      L      2023     117
18      Cucok      L      2023     118
19       Lola      L      2023     119
20     Bujang      L      2023     120
21      Bajai      L      2023     121
22        Dul      L      2023     122
23       Budi      L      2023     123
24     Badrul      L      2023     124
25      Pupey      L      2023     125
26      Salim      L      2023     126
27      Salam      L      2023     127
28   Sudirman      L      2023     128
29      Salur      L      2023     129
30       Rina      P      2023     130
31       Rini      P      2023     131
32       Rino      P      2023     132
33       Dina      P      2023     133
34       Dini      P      2023     134
35    Mutiara      P      2023     135
36     Monica      P      2023     136
37      Naswa      P      2023     137
38       Rifa      P      2023     138
39       Rida      P      2023     139

In [5]:
vira = data_vira[data_vira['Tinggi'] >= 130]

# Menampilkan nama
print(vira)

       Nama Gender  Angkatan  Tinggi
30     Rina      P      2023     130
31     Rini      P      2023     131
32     Rino      P      2023     132
33     Dina      P      2023     133
34     Dini      P      2023     134
35  Mutiara      P      2023     135
36   Monica      P      2023     136
37    Naswa      P      2023     137
38     Rifa      P      2023     138
39     Rida      P      2023     139

In [6]:
import numpy as np

vira['Tinggi'] = pd.to_numeric(vira['Tinggi'])

vira['Tinggi'] = vira['Tinggi'].apply(lambda x: 'large' if x > 130 else 'small')

print(vira)

       Nama Gender  Angkatan Tinggi
30     Rina      P      2023  small
31     Rini      P      2023  large
32     Rino      P      2023  large
33     Dina      P      2023  large
34     Dini      P      2023  large
35  Mutiara      P      2023  large
36   Monica      P      2023  large
37    Naswa      P      2023  large
38     Rifa      P      2023  large
39     Rida      P      2023  large

C:\Users\Adkur\AppData\Local\Temp\ipykernel_17980\3373389387.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vira['Tinggi'] = pd.to_numeric(vira['Tinggi'])
C:\Users\Adkur\AppData\Local\Temp\ipykernel_17980\3373389387.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vira['Tinggi'] = vira['Tinggi'].apply(lambda x: 'large' if x > 130 else 'small')

In [16]:
# Menambahkan kolom baru 'newvariable' 
vira['Jurusan'] = 'TIF23'
vira['Fakultas'] = 'FTI'

# Menampilkan DataFrame 'nama' setelah penambahan kolom baru
print(vira)

       Nama Gender  Angkatan Tinggi Jurusan Fakultas
30     Rina      P      2023  small   TIF23      FTI
31     Rini      P      2023  large   TIF23      FTI
32     Rino      P      2023  large   TIF23      FTI
33     Dina      P      2023  large   TIF23      FTI
34     Dini      P      2023  large   TIF23      FTI
35  Mutiara      P      2023  large   TIF23      FTI
36   Monica      P      2023  large   TIF23      FTI
37    Naswa      P      2023  large   TIF23      FTI
38     Rifa      P      2023  large   TIF23      FTI
39     Rida      P      2023  large   TIF23      FTI

C:\Users\Adkur\AppData\Local\Temp\ipykernel_17980\3803840372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vira['Jurusan'] = 'TIF23'
C:\Users\Adkur\AppData\Local\Temp\ipykernel_17980\3803840372.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vira['Fakultas'] = 'FTI'

In [17]:
vira = vira.drop(columns=['Fakultas'])

# Menampilkan DataFrame 'nama' 
print(vira)

       Nama Gender  Angkatan Tinggi Jurusan
30     Rina      P      2023  small   TIF23
31     Rini      P      2023  large   TIF23
32     Rino      P      2023  large   TIF23
33     Dina      P      2023  large   TIF23
34     Dini      P      2023  large   TIF23
35  Mutiara      P      2023  large   TIF23
36   Monica      P      2023  large   TIF23
37    Naswa      P      2023  large   TIF23
38     Rifa      P      2023  large   TIF23
39     Rida      P      2023  large   TIF23

In [18]:
kolom1dan2 = data_vira.iloc[:, 0:2]

# Menampilkan DataFrame kolom1dan2
print(kolom1dan2)

         Nama Gender
0        Dony      L
1     Bambang      L
2       Rehan      L
3      Rayyan      L
4     Dewanto      L
5       Felix      L
6        Adit      L
7   Kurniawan      L
8        Bayu      L
9        Udin      L
10      Ahmad      L
11     Badrun      L
12       Puki      L
13        Nen      L
14      Supri      L
15     Adrian      L
16      Sapri      L
17       Lulu      L
18      Cucok      L
19       Lola      L
20     Bujang      L
21      Bajai      L
22        Dul      L
23       Budi      L
24     Badrul      L
25      Pupey      L
26      Salim      L
27      Salam      L
28   Sudirman      L
29      Salur      L
30       Rina      P
31       Rini      P
32       Rino      P
33       Dina      P
34       Dini      P
35    Mutiara      P
36     Monica      P
37      Naswa      P
38       Rifa      P
39       Rida      P

In [21]:
# Menggabungkan baris dari dua DataFrame
baris1sd4 = data_vira.iloc[0:4, :]
baris26sd30 = data_vira.iloc[26:30, :]
baris1sd30 = baris1sd4.append(baris26sd30)

# Menampilkan DataFrame baris1sd6
print(baris1sd30)

        Nama Gender  Angkatan  Tinggi
0       Dony      L      2023     100
1    Bambang      L      2023     101
2      Rehan      L      2023     102
3     Rayyan      L      2023     103
26     Salim      L      2023     126
27     Salam      L      2023     127
28  Sudirman      L      2023     128
29     Salur      L      2023     129

C:\Users\Adkur\AppData\Local\Temp\ipykernel_17980\578374247.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  baris1sd30 = baris1sd4.append(baris26sd30)

In [23]:
data_vira_sort = data_vira.sort_values(by='Tinggi')

print(data_vira_sort)

         Nama Gender  Angkatan  Tinggi
0        Dony      L      2023     100
1     Bambang      L      2023     101
2       Rehan      L      2023     102
3      Rayyan      L      2023     103
4     Dewanto      L      2023     104
5       Felix      L      2023     105
6        Adit      L      2023     106
7   Kurniawan      L      2023     107
8        Bayu      L      2023     108
9        Udin      L      2023     109
10      Ahmad      L      2023     110
11     Badrun      L      2023     111
12       Puki      L      2023     112
13        Nen      L      2023     113
14      Supri      L      2023     114
15     Adrian      L      2023     115
16      Sapri      L      2023     116
17       Lulu      L      2023     117
18      Cucok      L      2023     118
19       Lola      L      2023     119
20     Bujang      L      2023     120
21      Bajai      L      2023     121
22        Dul      L      2023     122
23       Budi      L      2023     123
24     Badrul      L      2023     124
25      Pupey      L      2023     125
26      Salim      L      2023     126
27      Salam      L      2023     127
28   Sudirman      L      2023     128
29      Salur      L      2023     129
30       Rina      P      2023     130
31       Rini      P      2023     131
32       Rino      P      2023     132
33       Dina      P      2023     133
34       Dini      P      2023     134
35    Mutiara      P      2023     135
36     Monica      P      2023     136
37      Naswa      P      2023     137
38       Rifa      P      2023     138
39       Rida      P      2023     139